@mixin colors {
    --white-100: rgba(255, 255, 255, 0.1);
    --white-200: rgba(255, 255, 255, 0.2);
    --white-300: rgba(255, 255, 255, 0.3);
    --white-400: rgba(255, 255, 255, 0.4);
    --white-500: rgba(255, 255, 255, 0.5);
    --white-600: rgba(255, 255, 255, 0.6);
    --white-700: rgba(255, 255, 255, 0.7);
    --white-800: rgba(255, 255, 255, 0.8);
    --white-900: rgba(255, 255, 255, 0.9);
    --white-1000: rgba(255, 255, 255, 1);
  
    --black-100: rgba(0, 0, 0, 0.1);
    --black-200: rgba(0, 0, 0, 0.2);
    --black-300: rgba(0, 0, 0, 0.3);
    --black-400: rgba(0, 0, 0, 0.4);
    --black-500: rgba(0, 0, 0, 0.5);
    --black-600: rgba(0, 0, 0, 0.6);
    --black-700: rgba(0, 0, 0, 0.7);
    --black-800: rgba(0, 0, 0, 0.8);
    --black-900: rgba(1, 1, 1, 0.9);
    --black-1000: rgba(0, 0, 0, 1);
  
    --green-100: rgba(76, 175, 80, 0.1);
    --green-200: rgba(76, 175, 80, 0.2);
    --green-300: rgba(76, 175, 80, 0.3);
    --green-400: rgba(76, 175, 80, 0.4);
    --green-500: rgba(76, 175, 80, 0.5);
    --green-600: rgba(76, 175, 80, 0.6);
    --green-700: rgba(76, 175, 80, 0.7);
    --green-800: rgba(76, 175, 80, 0.8);
    --green-900: rgba(76, 175, 80, 0.9);
    --green-1000: rgba(76, 175, 80, 1);
  
    --red-100: rgba(255, 0, 0, 0.1);
    --red-200: rgba(255, 0, 0, 0.2);
    --red-300: rgba(255, 0, 0, 0.3);
    --red-400: rgba(255, 0, 0, 0.4);
    --red-500: rgba(255, 0, 0, 0.5);
    --red-600: rgba(255, 0, 0, 0.6);
    --red-700: rgba(255, 0, 0, 0.7);
    --red-800: rgba(255, 0, 0, 0.8);
    --red-900: rgba(255, 0, 0, 0.9);
    --red-1000: rgba(255, 0, 0, 1);
  
    --blue-100: rgba(0, 0, 255, 0.1);
    --blue-200: rgba(0, 0, 255, 0.2);
    --blue-300: rgba(0, 0, 255, 0.3);
    --blue-400: rgba(0, 0, 255, 0.4);
    --blue-500: rgba(0, 0, 255, 0.5);
    --blue-600: rgba(0, 0, 255, 0.6);
    --blue-700: rgba(0, 0, 255, 0.7);
    --blue-800: rgba(0, 0, 255, 0.8);
    --blue-900: rgba(0, 0, 255, 0.9);
    --blue-1000: rgba(0, 0, 255, 1);
  
    --yellow-100: rgba(255, 255, 0, 0.1);
    --yellow-200: rgba(255, 255, 0, 0.2);
    --yellow-300: rgba(255, 255, 0, 0.3);
    --yellow-400: rgba(255, 255, 0, 0.4);
    --yellow-500: rgba(255, 255, 0, 0.5);
    --yellow-600: rgba(255, 255, 0, 0.6);
    --yellow-700: rgba(255, 255, 0, 0.7);
    --yellow-800: rgba(255, 255, 0, 0.8);
    --yellow-900: rgba(255, 255, 0, 0.9);
    --yellow-1000: rgba(255, 255, 0, 1);
    --deepSkyBlue4: rgb(8, 115, 121);
    --lightSkyBlue: rgb(72, 182, 188);
  
    --gray-100: rgba(128, 128, 128, 0.1);
    --gray-200: rgba(128, 128, 128, 0.2);
    --gray-300: rgba(128, 128, 128, 0.3);
    --gray-400: rgba(128, 128, 128, 0.4);
    --gray-500: rgba(128, 128, 128, 0.5);
    --gray-600: rgba(128, 128, 128, 0.6);
    --gray-700: rgba(128, 128, 128, 0.7);
    --gray-800: rgba(128, 128, 128, 0.8);
    --gray-900: rgba(128, 128, 128, 0.9);
    --gray-1000: rgba(128, 128, 128, 1);
  
    --dark-green-1000: rgb(8, 115, 121);
    --dark-green-200: rgba(8, 115, 121, 0.2);
    --light-green400: rgba(8, 115, 121, 0.4);
    --light-green: rgb(218, 234, 235);
    --white-grey: rgb(245, 247, 249);
    --primary-box-shadow-color: rgb(209, 211, 212);
    --light-grey: rgb(221, 223, 225);
    --light-green-1000: rgb(218, 234, 235);
    --cinnabar-red-1000: rgb(238, 75, 43);
    --cinnabar-red-200: rgba(238, 76, 43, 0.2);
    --platinum-1000: rgb(230, 230, 230);
    --cultured-1000: rgb(245, 247, 249);
    --orange: rgb(238, 151, 21);
    --orange-250: rgba(238, 151, 21, 0.25);
    --transparent: transparent;
    --salmon-1000: rgb(245, 147, 128);
  }